
.nav-bar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ada5d9;  
    padding:  0px 20px;
  
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    margin-left: 20px; 
    margin-right: 40px; 
    justify-content: space-between; 
  }
  
  .nav-item {
    font-size: 15px;
    color: #fff; 
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s;
    border: 1px solid transparent;
    border-radius: 5px; 
    padding: 10px 20px;
  }
  
  .nav-item:hover {
    color: #6b5ac3;
    border: 1px solid #6b5ac3; 
  }
  
  .logout-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .logout-btn i {
    margin-right: 5px; /* Adjust the space between icon and text */
  }

  .logout-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #6b5ac3;
    font-size: 30px;
  }
  