.how-it-wors-banner {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #0e0639;;
    align-items: center;
    background-color: #cfcbe8 ;
    width: 100%;
    row-gap: 20px
  }

  .header {    
    font-size: 30px;
    font-weight: bold;
  }

 .list-steps {
    display: flex;   
    flex-direction: row;
    align-items: center;
    font-size: 22px;
    column-gap: 80px;
    
  }
  
 .list-steps p {
    margin-top: 10px;
    align-items: center;
  }
  
  .list-steps icon{
    size:30px;
   
  }
  