.banner {
    background-color: #6b5ac3; /* Purple (you can use any other purple color code) */
    color: #fff; /* White text color */
    padding: 12px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.blood-drop-icon {
    color: #fff; /* White text color */
    font-size: 30px;
    margin-right: 8px;
}

.lab-text {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}