.page-navigation{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .page-navigation button {
    margin: 0 5px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #7b68ee;
    color: white;
  }
  
  .page-navigation button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  .page-navigation button:hover {
    background-color: #6b5ac3;
  }